/************ Basic Setup ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    font-family: "Titillium Web", sans-serif;
    line-height: 20px;
}

/************ Reusable Components ***********/
.row{
    max-width: 1140px;
    margin: 0 auto;

}

section {
    padding: 80px 0;
    overflow: hidden;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;

}
h2::after {
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background: #fff;
    margin: auto;
    margin-top: 20px;

}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 25px;
}
.little-description {
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    width: 60%;
    margin: auto;
    line-height: 30px;

}

/************ CUSTOM CSS ***********/



/************ Header section CSS ***********/


 

/************ Header section CSS End ***********/


/************ Service Section CSS ***********/
.service-section {
    color: #fff;
    text-align: center;
    background:linear-gradient(rgba(23 ,194, 164, 0.9) , rgba(23 ,194, 164, 0.9)) ,url(../images/services-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.service-section h2::after{
    background: #14a58c;
}
.service-icon {
    height: 126px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.service-section p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    padding: 0 5px;
}

/************ Service Section CSS End ***********/



/************ Team Section CSS ***********/
.team-section {
    background: linear-gradient(rgba(231 ,241 ,248 ,0.8),rgba(231 ,241 ,248 ,0.8)) ,url(../images/team-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align:center;

}

.team-section h2 {
    color: #3c4761;
}

.team-section h2::after{
    background: #c8d9e5;
}

.team-section p {
    color: #3c4761;
}

.team-member {
    margin-top: 45px;
    margin-bottom: 35px;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.team-section h3 {
    color: #27283d;

}


.role{
    color: #30bae7;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
}
.description {
    font-weight: 300;
    line-height: 25px;
    margin-top: 15px;
    font-size: 15px;
    color: #3c4761;
}

.social-icon {
    margin-top: 40px;
}
.social-icon ul li {
    display: inline-block;
    margin: 0 5px;
    
}
.social-icon ul li a{
    color: #fff;

}

.social-icon ul li a i::before {
    background: #bdd1df;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s;
}

.social-icon ul li a:hover i::before {
    background: #393939;
    transform: rotate(360deg);
}
/************ Team Section CSS End ***********/



/************ Skill Section CSS ***********/

.skill-section {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)) ,url(../images/skill-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    text-align: center;
}
.skill-section h2 , .skill-section h3 {
    color: #3c4761;
}
.skill-section h2::after{
    background: #dfe8ed;
}
.skill-section p {
    color: #3c4761;
    margin-bottom: 45px;
}
svg.radial-progress circle {
    stroke-width: 5;
}
svg.radial-progress text {
    fill: #3c4761;
    font-size: 15px;
}
svg.web-design circle {
    stroke: #30bae7;
}
svg.html-css circle {
    stroke: #d74680;
}
svg.graphic-design circle {
    stroke: #15c7a8;
}
svg.ui-ux circle {
    stroke: #eb7d4b;
}

/************ Skill Section CSS End ***********/



/************ Portfolio Section CSS  ***********/

.portfolio-section {
    background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)) ,url(../images/portfolio-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.portfolio-section h2 {
    color: #393939;
}
.portfolio-section p {
    color: #393939;
}
.portfolio-section h2::after {
    background: #e5c37f;
}
.portfolio-filter {
    margin: 45px 0;
}
.portfolio-filter button {
    background: #ebc985;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #393939;
    margin: 0 5px;
    transition: 0.5s;
}
.portfolio-filter button:hover {
    cursor: pointer;
    box-shadow: inset 0px 3px 5px rgba(60, 71,97,0.5);
}
.portfolio-image {
    width: 100%;
    height: auto;
}
.portfolio-section h4 {
    color: #393939;
}
.btn {
    background: #17c2a4;
    border-bottom: 3px solid #14a58c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 3px;
    display: inline-block;
}
.portfolio-section .mixitup-control-active {
    background: #fff;
}
/************ Portfolio Section CSS End ***********/



/************ About-Us Section CSS ***********/
.about-us {
    background: linear-gradient(rgba(215, 70, 128,0.9),rgba(215, 70, 128,0.9)) , url(../images/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about-us h2 {
    color: #fff;
    font-weight: 700;
}
.about-us h2::after {
    background: #b73c6d;
}
.about-us p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.client-photo {
    width: 100px;
    float: left;
}
.client-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.client-review {
    width: 350px;
    float: left;
}
.client-review p {
    font-size: 18px;
    font-style: italic;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}
.client-review h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}
.client-review .role {
    color: #ffdd99;
    margin-top: 0;
}
.about-us .one {
    margin-top: 40px;
}
.about-us .two {
    margin-top: 80px;
}
/************ About-Us Section CSS End ***********/


/************ Contact-Us Section CSS ***********/

.contact-us {
    background: linear-gradient(rgba(60, 84, 153, 0.9) , rgba(60, 84, 153, 0.9)) , url(../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;

}

.contact-us h2 {
    
}
.contact-us h2::after {
    background: #273a71;
}
.contact-us .little-description {
    font-size: 16px;
}

.contact-us form {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
}
.contact-us input[type="text"] ,
.contact-us input[type="email"] ,
.contact-us textarea {
    background: #273a71;
    border: 1px solid #273a71;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px 0;
    color: #fff;
    outline: none;
}
.contact-us form input::placeholder ,
.contact-us form textarea::placeholder {
    color: #fff;
    opacity: 1;
}
.btn-submit {
    background: #30bae7;
    border-bottom: 3px solid #299ec5;
    margin-top: 40px;
}
.btn-submit:hover {
    cursor: pointer;
}
/************ Contact-Us Section CSS End ***********/


/************ Footer Section CSS ***********/
.footer-section {
    background: #344b8e;
    border-top: 1px solid #ffffff66;
    padding: 30px 0;
    text-align: center;
}
.footer-section ul {}
.footer-section ul li {
    margin: 0 20px;
    display: inline-block;
}
.footer-section ul li a {
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s;
}
.footer-section ul li a:hover {
    color: #30bae7;
}
.footer-section ul li a:hover {}
/************ Footer Section CSS End ***********/




@media only screen and (max-width:1024px){
    .row {
        margin: 0 15px;
    }
    .client-photo {
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review {
        width: 100%;
        float: none;
        text-align: center;
    }
    .client-review h3 {
        text-align: center;
    }

    .contact-us form {
        width: 100%;
        margin-left: 0;

    }
}


@media only screen and (max-width:980px){
    .col-md-3 {
        width: 49.2%;
    }

    .little-description {
        width: 100%;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px !important;
    }
}
@media only screen and (max-width:768px){
    .footer-section ul li {
        margin: 0 10px;
    }
    .footer-section ul li a {
        font-size: 20px;
    }
}


@media only screen and (max-width:480px){
    .col-md-3 {
        width: 100%;
    }
    h2 {
        font-size: 25px;
    }

}